[Desktop Entry]
Icon=im-msn
Name=Microsoft OneDrive
Name[ar]=ميكروسوفت أوندريف
Name[ca]=Microsoft OneDrive
Name[ca@valencia]=Microsoft OneDrive
Name[cs]=Microsoft OneDrive
Name[da]=Microsoft OneDrive
Name[de]=Microsoft OneDrive
Name[el]=Microsoft OneDrive
Name[en_GB]=Microsoft OneDrive
Name[es]=Microsoft OneDrive
Name[gl]=Microsoft OneDrive
Name[he]=Microsoft OneDrive
Name[ia]=Microsoft OneDrive
Name[it]=Microsoft OneDrive
Name[ko]=Microsoft OneDrive
Name[nl]=Microsoft OneDrive
Name[pl]=Microsoft OneDrive
Name[pt]=Microsoft OneDrive
Name[pt_BR]=Microsoft OneDrive
Name[ru]=Microsoft OneDrive
Name[sk]=Microsoft OneDrive
Name[sl]=Microsoft OneDrive
Name[sv]=Microsoft OneDrive
Name[tr]=Microsoft OneDrive
Name[uk]=Microsoft OneDrive
Name[x-test]=xxMicrosoft OneDrivexx
Name[zh_CN]=Microsoft OneDrive
Name[zh_TW]=Microsoft OneDrive
Type=Link
URL=onedrive:/
